extends ../layouts/main-layout.pug

block title 
    title #{pageTitle}

block content 
    main 
        if orders.length > 0 
            ul 
                each order in orders 
                    li 
                        h1 #{order._id}
                        ul
                            each product in order.products
                                li #{product.productData.title} (#{product.quantity}) -
                                    a(href=(`/orders/${order._id}`)) Invoices
        else 
            h1 No Orders 